@page "/Operations/SysLog"
@implements IDisposable

@using System.Text
@using Server.Envir
@using TabBlazor.Services
@inject ToastService ToastService

<Page>
    @*<ContentViewer ContentType="text/plain" Content="@(Encoding.UTF8.GetBytes("系统日志页面!"))" />
    <dl>
        <dt>一级</dt>
        <dd>二级</dd>
    </dl> *@

    <div style="margin:20px">
        <Badge BackgroundColor="TablerColor.Primary">系统 - 系统日志</Badge>
    </div>
    <div style="width:auto;float:left;padding:10px;">
        <dl>
            @foreach (var txt in content)
            {
                <dt>@txt</dt>
            }
        </dl>
    </div>


</Page>

@code
{
    List<string> content = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        if (NamedPipeClient.SysLogClient != null)
        {
            NamedPipeClient.SysLogClient.MessageReceived += OnSysLog;
            await NamedPipeClient.OpenSysLog();
        }
        else
        {
            await ToastService.AddToastAsync(new ToastModel
            {
                Title = "提示",
                SubTitle = "服务异常",
                Message = "连接NP服务失败，请检查服务端是否开启！"
            });
        }
    }

    public void Dispose()
    {
        if (NamedPipeClient.SysLogClient != null)
        {
            _ = NamedPipeClient.CloseSysLog();
            NamedPipeClient.SysLogClient.MessageReceived -= OnSysLog;
        }
    }

    private void OnSysLog(ManaMessage msg)
    {
        if (content.Count > 10000)
        {
            content.Clear();
        }
        if (msg != null && msg.ModelData != null)
        {
            InvokeAsync(() => { content.Add(msg.ModelData); });
            InvokeAsync(StateHasChanged);
        }
    }

}
